html, body
{
    height: 100%;
    width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
}

* {margin:0;padding: 0;}

.wrapper
{
    height:100%;
}
.content
{
    display: table;
    height: 100%;
}

.leftside
{
    display: table-cell;
    width:20%;
    background-color:rgba(120, 236, 236, 0.5);
    height: 100%;
}
.rightside
{
    display: table-cell;    
    width: 80%;
    background-color:rgba(204, 255, 0, 0.5);
    height: 100%;
    padding: 9px;
    line-height:20px;
}

.leftside p
{
    margin:9px 3px;
}